* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#formContainer {
    display: flex;
    justify-content: center;

}

#myForm {

    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(240, 237, 237);
    padding: 8px;
}

label[for=nationality] {

    display: block;
    margin: 10px 0;
}

label[for=gender] {

    display: block;
    margin: 10px 0 6px 0;
}

label[for=summary] {

    display: block;
    margin: 10px 0;
}

input[type=text] {
    display: block;
    margin: 10px 0;
}

input[type=radio] {

    width: 35px;
    margin: 3px 0;
}

textarea {

    display: block;
    margin: 10px 0;
}

input[type=submit] {

    border: none;
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;
    color: #fff;
    background: rgb(92, 192, 25);
    font-weight: bold;
}

input[type=submit]:hover {

    background-color: rgb(75, 156, 21);
}