* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#formContainer {
    display: flex;
    justify-content: center;
}

#myForm {

    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label[for=nationality] {

    display: block;
    margin: 10px 0;
}

label[for=gender] {

    display: block;
    margin: 10px 0;
}

label[for=summary] {

    display: block;
    margin: 10px 0;
}

input[type=text] {
    display: block;
    margin: 10px 0;
}

input[type=radio] {

    width: 35px;
    margin: 6px 0;
}

textarea {

    display: block;
    margin: 10px 0;
}